Repository etherisc/ui-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ui-kit-maintainers, @devops-team, @docs-team, @component-team, @layout-team, @form-team, @architecture-team, @utils-team, @hooks-team, @design-system-team, @testing-team, @storybook-team, @build-team, @security-team, @performance-team, @monitoring-team, @accessibility-team

.github/CODEOWNERS:

# CODEOWNERS
# 
# This file defines code ownership for the UI Kit repository.
# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.
# 
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners
# These users are the default owners for everything in the repo unless a later match takes precedence.
* @ui-kit-maintainers

# Root Configuration Files
# Critical configuration files that affect the entire project
/.github/ @ui-kit-maintainers @devops-team
/package.json @ui-kit-maintainers
/pnpm-lock.yaml @ui-kit-maintainers
/pnpm-workspace.yaml @ui-kit-maintainers
/tsconfig*.json @ui-kit-maintainers
/vite.config.ts @ui-kit-maintainers
/.eslintrc.cjs @ui-kit-maintainers
/.prettierrc @ui-kit-maintainers
/tailwind.config.js @ui-kit-maintainers

# DevContainer and Docker
/.devcontainer/ @devops-team
/Dockerfile* @devops-team
/docker-compose*.yml @devops-team

# CI/CD and Automation
/.github/workflows/ @devops-team @ui-kit-maintainers
/.github/actions/ @devops-team
/.changeset/ @ui-kit-maintainers
/scripts/ @devops-team @ui-kit-maintainers

# Documentation
/README.md @docs-team @ui-kit-maintainers
/CONTRIBUTING.md @docs-team @ui-kit-maintainers
/CHANGELOG.md @docs-team @ui-kit-maintainers
/docs/ @docs-team
/.github/pull_request_template.md @docs-team @ui-kit-maintainers
/.github/CODEOWNERS @ui-kit-maintainers

# UI Kit Package
/packages/ui-kit/ @ui-kit-maintainers

# Core Components
/packages/ui-kit/src/components/primitives/ @component-team @ui-kit-maintainers
/packages/ui-kit/src/components/layout/ @layout-team @ui-kit-maintainers
/packages/ui-kit/src/components/form/ @form-team @ui-kit-maintainers

# Providers and Context
/packages/ui-kit/src/providers/ @architecture-team @ui-kit-maintainers

# Utilities and Hooks
/packages/ui-kit/src/utils/ @utils-team @ui-kit-maintainers
/packages/ui-kit/src/hooks/ @hooks-team @ui-kit-maintainers

# Styling and Theming
/packages/ui-kit/src/styles/ @design-system-team @ui-kit-maintainers
/packages/ui-kit/src/theme/ @design-system-team @ui-kit-maintainers
/packages/ui-kit/src/tokens/ @design-system-team @ui-kit-maintainers

# Testing Infrastructure
/packages/ui-kit/src/**/*.test.* @testing-team @ui-kit-maintainers
/packages/ui-kit/src/**/*.spec.* @testing-team @ui-kit-maintainers
/packages/ui-kit/cypress/ @testing-team @ui-kit-maintainers
/packages/ui-kit/playwright/ @testing-team @ui-kit-maintainers
/packages/ui-kit/vitest.config.ts @testing-team @ui-kit-maintainers
/packages/ui-kit/cypress.config.ts @testing-team @ui-kit-maintainers
/packages/ui-kit/playwright.config.ts @testing-team @ui-kit-maintainers

# Storybook
/packages/ui-kit/.storybook/ @storybook-team @ui-kit-maintainers
/packages/ui-kit/src/**/*.stories.* @storybook-team @component-team

# Build and Bundle Configuration
/packages/ui-kit/vite.config.ts @build-team @ui-kit-maintainers
/packages/ui-kit/tsconfig*.json @build-team @ui-kit-maintainers
/packages/ui-kit/package.json @ui-kit-maintainers

# Security and Dependencies
/packages/ui-kit/pnpm-lock.yaml @security-team @ui-kit-maintainers
/.nvmrc @devops-team
/.node-version @devops-team

# Specific Component Ownership Examples
# Uncomment and modify these as teams are assigned to specific components

# /packages/ui-kit/src/components/primitives/Button/ @button-specialist
# /packages/ui-kit/src/components/primitives/Input/ @form-specialist
# /packages/ui-kit/src/components/layout/Grid/ @layout-specialist
# /packages/ui-kit/src/components/form/DataTable/ @datatable-specialist

# Performance and Bundle Size
/packages/ui-kit/size-limit.config.js @performance-team @ui-kit-maintainers

# Error Handling and Monitoring
/packages/ui-kit/src/providers/ErrorBoundary/ @monitoring-team @ui-kit-maintainers
/packages/ui-kit/src/utils/logger/ @monitoring-team @ui-kit-maintainers

# Accessibility
/packages/ui-kit/src/**/*a11y* @accessibility-team @ui-kit-maintainers
/packages/ui-kit/src/**/*accessibility* @accessibility-team @ui-kit-maintainers

# Team Definitions (GitHub teams that should be created)
# 
# @ui-kit-maintainers - Core maintainers with full repository access
# @devops-team - DevOps and infrastructure specialists
# @docs-team - Documentation specialists
# @component-team - UI component specialists
# @layout-team - Layout and responsive design specialists
# @form-team - Form component specialists
# @architecture-team - System architecture specialists
# @utils-team - Utility function specialists
# @hooks-team - React hooks specialists
# @design-system-team - Design system and theming specialists
# @testing-team - Testing infrastructure specialists
# @storybook-team - Storybook and documentation specialists
# @build-team - Build and bundling specialists
# @security-team - Security and dependency management specialists
# @performance-team - Performance and optimization specialists
# @monitoring-team - Error handling and monitoring specialists
# @accessibility-team - Accessibility specialists

docs: mark task 4.4 as PR submitted
  docs/project_plan.md
Owners: @docs-team

refactor: rename CODEOWNERS to CODEOWNERS.example as template
  .github/CODEOWNERS.example
  docs/task-planning/task-4.4-contributing-docs.md
  packages/ui-kit/scripts/doc-lint.js
Owners: @ui-kit-maintainers, @devops-team, @docs-team

feat: add comprehensive contributing documentation and governance (#27)
  .github/CODEOWNERS.example
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/project_plan.md
  docs/task-planning/task-4.3-size-limit-ci-check.md
  docs/task-planning/task-4.4-contributing-docs.md
  packages/ui-kit/package.json
  packages/ui-kit/scripts/doc-lint.js
Owners: @ui-kit-maintainers, @devops-team, @docs-team

feat: implement GitHub Packages publishing and Storybook deployment
  .github/workflows/release.yml
  docs/RELEASE.md
  docs/task-planning/sprint-4-polish-security-release.md
  docs/task-planning/task-4.5-beta-release.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
  scripts/release.sh
Owners: @devops-team, @ui-kit-maintainers, @docs-team

fix: correct package name for GitHub Packages publishing
  .github/workflows/release.yml
Owners: @devops-team, @ui-kit-maintainers

fix: exclude showcase package from release workflow tests
  .github/workflows/release.yml
Owners: @devops-team, @ui-kit-maintainers

feat: add Apache 2.0 license and update package.json files
  .github/workflows/release.yml
  LICENSE
  package.json
  packages/ui-kit/package.json
Owners: @devops-team, @ui-kit-maintainers

feat: add Apache 2.0 license and update package.json files (#28)
  .github/workflows/release.yml
  LICENSE
  package.json
  packages/ui-kit/package.json
Owners: @devops-team, @ui-kit-maintainers

docs: mark Task 4.5 as complete in project plan
  docs/project_plan.md
Owners: @docs-team

feat: add dedicated GitHub Pages deployment workflow for Storybook
  .github/workflows/deploy-pages.yml
Owners: @devops-team, @ui-kit-maintainers

feat: add Etherisc logo and update package references
  package.json
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
  packages/ui-kit/src/Welcome.mdx
  packages/ui-kit/src/assets/2019_Etherisc_Logo black blue transparent.svg
  packages/ui-kit/src/components/brand/EtheriscLogo.stories.tsx
  packages/ui-kit/src/components/brand/EtheriscLogo.tsx
  packages/ui-kit/src/components/brand/index.ts
  packages/ui-kit/src/components/index.ts
Owners: @ui-kit-maintainers, @storybook-team, @component-team

fix: update remaining @org/ui-kit references to @etherisc/ui-kit
  packages/showcase/CHANGELOG.md
  packages/showcase/src/App.test.tsx
  packages/showcase/src/main.tsx
  packages/showcase/src/pages/CustomersPage.tsx
  packages/showcase/src/pages/DashboardPage.tsx
  packages/showcase/src/pages/LoginPage.tsx
  packages/showcase/src/types/ui-kit.d.ts
  packages/ui-kit/src/assets/2019_Etherisc_Logo black blue transparent.svg
  pnpm-lock.yaml
Owners: @ui-kit-maintainers

feat: add TextArea component with React Hook Form integration and accessibility features
  .changeset/add-textarea-component.md
  docs/project_plan.md
  docs/task-planning/task-5.1-form-inputs-batch-2.md
  packages/ui-kit/src/components/primitives/TextArea/TextArea.stories.tsx
  packages/ui-kit/src/components/primitives/TextArea/TextArea.test.tsx
  packages/ui-kit/src/components/primitives/TextArea/TextArea.tsx
  packages/ui-kit/src/components/primitives/TextArea/index.ts
  packages/ui-kit/src/components/primitives/index.ts
  packages/ui-kit/src/components/ui/textarea.tsx
Owners: @ui-kit-maintainers, @docs-team, @storybook-team, @component-team, @testing-team

feat: add ComboBox component with search functionality and React Hook Form integration
  .changeset/add-combobox-component.md
  docs/task-planning/task-5.1-form-inputs-batch-2.md
  packages/ui-kit/package.json
  packages/ui-kit/src/components/primitives/ComboBox/ComboBox.stories.tsx
  packages/ui-kit/src/components/primitives/ComboBox/ComboBox.test.tsx
  packages/ui-kit/src/components/primitives/ComboBox/ComboBox.tsx
  packages/ui-kit/src/components/primitives/ComboBox/index.ts
  packages/ui-kit/src/components/primitives/index.ts
  packages/ui-kit/src/components/ui/command.tsx
  packages/ui-kit/src/components/ui/dialog.tsx
  packages/ui-kit/src/components/ui/popover.tsx
  packages/ui-kit/src/test/setup.ts
  pnpm-lock.yaml
Owners: @ui-kit-maintainers, @docs-team, @storybook-team, @component-team, @testing-team

feat: add SliderInput component with React Hook Form integration and accessibility features
  .changeset/add-sliderinput-component.md
  docs/task-planning/task-5.1-form-inputs-batch-2.md
  packages/ui-kit/package.json
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.stories.tsx
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.test.tsx
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
  packages/ui-kit/src/components/primitives/SliderInput/index.ts
  packages/ui-kit/src/components/primitives/index.ts
  packages/ui-kit/src/components/ui/slider.tsx
  packages/ui-kit/src/test/setup.ts
  pnpm-lock.yaml
Owners: @ui-kit-maintainers, @docs-team, @storybook-team, @component-team, @testing-team

feat: add SpinnerInput component with increment/decrement controls and precision formatting
  .changeset/add-spinnerinput-component.md
  docs/task-planning/task-5.1-form-inputs-batch-2.md
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.stories.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.test.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/index.ts
  packages/ui-kit/src/components/primitives/index.ts
Owners: @ui-kit-maintainers, @docs-team, @storybook-team, @component-team, @testing-team

feat: add DatePicker component with React Hook Form integration
  packages/ui-kit/package.json
  packages/ui-kit/src/components/primitives/DatePicker/DatePicker.stories.tsx
  packages/ui-kit/src/components/primitives/DatePicker/DatePicker.test.tsx
  packages/ui-kit/src/components/primitives/DatePicker/DatePicker.tsx
  packages/ui-kit/src/components/primitives/DatePicker/index.ts
  packages/ui-kit/src/components/primitives/index.ts
  packages/ui-kit/src/components/ui/calendar.tsx
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: add DateRangePicker component with dual calendar view and React Hook Form integration
  packages/ui-kit/src/components/primitives/DateRangePicker/DateRangePicker.stories.tsx
  packages/ui-kit/src/components/primitives/DateRangePicker/DateRangePicker.test.tsx
  packages/ui-kit/src/components/primitives/DateRangePicker/DateRangePicker.tsx
  packages/ui-kit/src/components/primitives/DateRangePicker/index.ts
  packages/ui-kit/src/components/primitives/index.ts
  packages/ui-kit/src/index.ts
Owners: @storybook-team, @component-team, @testing-team, @ui-kit-maintainers

fix: resolve vitest coverage compatibility and improve configuration
  packages/ui-kit/package.json
  packages/ui-kit/vitest.config.ts
Owners: @ui-kit-maintainers, @testing-team

fix: add aria-label fallbacks for form components without labels
  packages/ui-kit/src/components/primitives/ComboBox/ComboBox.tsx
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.tsx
Owners: @component-team, @ui-kit-maintainers

fix: improve accessibility for form components and stories
  packages/ui-kit/src/components/primitives/ComboBox/ComboBox.stories.tsx
  packages/ui-kit/src/components/primitives/ComboBox/ComboBox.tsx
  packages/ui-kit/src/components/primitives/DatePicker/DatePicker.stories.tsx
  packages/ui-kit/src/components/primitives/DateRangePicker/DateRangePicker.stories.tsx
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.stories.tsx
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.stories.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.tsx
Owners: @storybook-team, @component-team, @ui-kit-maintainers

fix: add aria-value attributes to SliderInput for accessibility compliance
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
Owners: @component-team, @ui-kit-maintainers

fix: remove conflicting aria-value attributes from SliderInput
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
Owners: @component-team, @ui-kit-maintainers

fix: remove aria-required from DatePicker and DateRangePicker buttons
  packages/ui-kit/src/components/primitives/DatePicker/DatePicker.tsx
  packages/ui-kit/src/components/primitives/DateRangePicker/DateRangePicker.tsx
Owners: @component-team, @ui-kit-maintainers

fix: improve ARIA attributes for all form components
  packages/ui-kit/src/components/primitives/ComboBox/ComboBox.tsx
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.tsx
  packages/ui-kit/src/components/primitives/TextArea/TextArea.tsx
Owners: @component-team, @ui-kit-maintainers

fix: remove invalid aria-required tests for button elements
  packages/ui-kit/src/components/primitives/DatePicker/DatePicker.test.tsx
  packages/ui-kit/src/components/primitives/DateRangePicker/DateRangePicker.test.tsx
Owners: @testing-team, @ui-kit-maintainers

fix: remove htmlFor from SliderInput label to fix accessibility violation
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
Owners: @component-team, @ui-kit-maintainers

fix(ui-kit): fix SliderInput ARIA attributes placement for accessibility compliance
  .changeset/add-datepicker-component.md
  .changeset/add-daterangepicker-component.md
  docs/design-decisions-date-handling.md
  docs/task-planning/task-5.1-form-inputs-batch-2.md
  packages/ui-kit/.storybook/test-runner.ts
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.stories.tsx
  packages/ui-kit/src/components/primitives/SpinnerInput/SpinnerInput.tsx
  packages/ui-kit/src/components/ui/slider.tsx
  pnpm-lock.yaml
  tree.txt
Owners: @ui-kit-maintainers, @docs-team, @storybook-team, @component-team

fix(ui-kit): move SliderInput ARIA attributes to thumb element for accessibility compliance
  packages/ui-kit/.storybook/test-runner.ts
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.test.tsx
  packages/ui-kit/src/components/primitives/SliderInput/SliderInput.tsx
Owners: @storybook-team, @ui-kit-maintainers, @testing-team, @component-team

feat(ui-kit): implement CodeEditor component with CodeMirror 6
  docs/project_plan.md
  docs/task-planning/task-5.2-editor-widgets.md
  packages/ui-kit/package.json
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.stories.tsx
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.test.tsx
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.tsx
  packages/ui-kit/src/components/primitives/CodeEditor/index.ts
  packages/ui-kit/src/components/primitives/CodeEditor/types.ts
  packages/ui-kit/src/components/primitives/index.ts
  pnpm-lock.yaml
Owners: @docs-team, @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

fix: improve CodeEditor accessibility with comprehensive ARIA support and color contrast
  packages/ui-kit/.storybook/test-runner.ts
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.stories.tsx
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.tsx
Owners: @storybook-team, @ui-kit-maintainers, @component-team

fix: enhance CodeEditor accessibility with more comprehensive fixes
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.tsx
Owners: @component-team, @ui-kit-maintainers

fix: exclude CodeEditor from Storybook tests
  packages/ui-kit/.storybook/test-runner.ts
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.stories.tsx
Owners: @storybook-team, @ui-kit-maintainers, @component-team

feat: implement CodeEditor component (Task 5.2) (#30)
  docs/project_plan.md
  docs/task-planning/task-5.2-editor-widgets.md
  packages/ui-kit/.storybook/test-runner.ts
  packages/ui-kit/package.json
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.stories.tsx
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.test.tsx
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.tsx
  packages/ui-kit/src/components/primitives/CodeEditor/index.ts
  packages/ui-kit/src/components/primitives/CodeEditor/types.ts
  packages/ui-kit/src/components/primitives/index.ts
  pnpm-lock.yaml
Owners: @docs-team, @storybook-team, @ui-kit-maintainers, @component-team, @testing-team

feat: implement remaining layout components and add footer slot to AppShell
  docs/project_plan.md
  docs/task-planning/task-5.3-remaining-layouts.md
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/layout/AppShell/AppShell.stories.tsx
  packages/ui-kit/src/layout/AppShell/AppShell.tsx
  packages/ui-kit/src/layout/DataDenseLayout/DataDenseLayout.stories.tsx
  packages/ui-kit/src/layout/DataDenseLayout/DataDenseLayout.test.tsx
  packages/ui-kit/src/layout/DataDenseLayout/DataDenseLayout.tsx
  packages/ui-kit/src/layout/DataDenseLayout/index.ts
  packages/ui-kit/src/layout/DataDenseLayout/types.ts
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.stories.tsx
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.test.tsx
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.tsx
  packages/ui-kit/src/layout/ErrorShell/index.ts
  packages/ui-kit/src/layout/ErrorShell/types.ts
  packages/ui-kit/src/layout/MainFixedLayout/MainFixedLayout.stories.tsx
  packages/ui-kit/src/layout/MainFixedLayout/MainFixedLayout.test.tsx
  packages/ui-kit/src/layout/MainFixedLayout/MainFixedLayout.tsx
  packages/ui-kit/src/layout/MainFixedLayout/index.ts
  packages/ui-kit/src/layout/MainFixedLayout/types.ts
  packages/ui-kit/src/layout/index.ts
Owners: @docs-team, @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

fix: resolve accessibility violations in layout components
  .gitignore
  package.json
  packages/ui-kit/package.json
  packages/ui-kit/scripts/run-storybook-test.js
  packages/ui-kit/src/layout/DataDenseLayout/DataDenseLayout.stories.tsx
  packages/ui-kit/src/layout/DataDenseLayout/DataDenseLayout.tsx
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.tsx
  packages/ui-kit/src/layout/MainFixedLayout/MainFixedLayout.stories.tsx
  packages/ui-kit/src/layout/MainFixedLayout/MainFixedLayout.tsx
Owners: @ui-kit-maintainers, @storybook-team, @component-team

feat: implement remaining layout components + fix accessibility violations (#31)
  .gitignore
  docs/project_plan.md
  docs/task-planning/task-5.3-remaining-layouts.md
  package.json
  packages/ui-kit/package.json
  packages/ui-kit/scripts/run-storybook-test.js
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/layout/AppShell/AppShell.stories.tsx
  packages/ui-kit/src/layout/AppShell/AppShell.tsx
  packages/ui-kit/src/layout/DataDenseLayout/DataDenseLayout.stories.tsx
  packages/ui-kit/src/layout/DataDenseLayout/DataDenseLayout.test.tsx
  packages/ui-kit/src/layout/DataDenseLayout/DataDenseLayout.tsx
  packages/ui-kit/src/layout/DataDenseLayout/index.ts
  packages/ui-kit/src/layout/DataDenseLayout/types.ts
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.stories.tsx
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.test.tsx
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.tsx
  packages/ui-kit/src/layout/ErrorShell/index.ts
  packages/ui-kit/src/layout/ErrorShell/types.ts
  packages/ui-kit/src/layout/MainFixedLayout/MainFixedLayout.stories.tsx
  packages/ui-kit/src/layout/MainFixedLayout/MainFixedLayout.test.tsx
  packages/ui-kit/src/layout/MainFixedLayout/MainFixedLayout.tsx
  packages/ui-kit/src/layout/MainFixedLayout/index.ts
  packages/ui-kit/src/layout/MainFixedLayout/types.ts
  packages/ui-kit/src/layout/index.ts
Owners: @ui-kit-maintainers, @docs-team, @storybook-team, @component-team, @testing-team

feat: implement showcase routes extension with settings, components gallery, and 404 page
  docs/project_plan.md
  docs/task-planning/task-5.4-showcase-routes.md
  packages/showcase/database.sqlite
  packages/showcase/src/main.tsx
  packages/showcase/src/pages/ComponentsPage.tsx
  packages/showcase/src/pages/CustomersPage.tsx
  packages/showcase/src/pages/DashboardPage.tsx
  packages/showcase/src/pages/NotFoundPage.tsx
  packages/showcase/src/pages/SettingsPage.tsx
  packages/showcase/test-results/.last-run.json
  packages/showcase/tests/showcase-routes.spec.ts
Owners: @docs-team, @ui-kit-maintainers

fix: resolve hanging test issue by moving Playwright tests to e2e directory
  packages/showcase/package.json
  packages/showcase/tests/e2e/showcase-routes.spec.ts
Owners: @ui-kit-maintainers

revert: remove unnecessary vitest timeout configurations - CI tests pass successfully
  packages/showcase/tests/showcase-routes.spec.ts
Owners: @ui-kit-maintainers
