Repository etherisc/ui-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ui-kit-maintainers, @devops-team, @docs-team, @component-team, @layout-team, @form-team, @architecture-team, @utils-team, @hooks-team, @design-system-team, @testing-team, @storybook-team, @build-team, @security-team, @performance-team, @monitoring-team, @accessibility-team

fix: resolve critical CodeEditor test hanging issue preventing pre-push hook
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.test.tsx
  packages/ui-kit/src/components/primitives/ThemeToggle/__tests__/ThemeToggle.test.tsx
Owners: @testing-team, @ui-kit-maintainers

fix: restore screen import in CodeEditor test - all 28 tests now passing
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.test.tsx
Owners: @testing-team, @ui-kit-maintainers

refactor: clean up showcase test configuration
  packages/showcase/package.json
Owners: @ui-kit-maintainers

feat: Task 5.4 - Showcase Routes Extension (#32)
  docs/project_plan.md
  docs/task-planning/task-5.4-showcase-routes.md
  packages/showcase/database.sqlite
  packages/showcase/package.json
  packages/showcase/src/main.tsx
  packages/showcase/src/pages/ComponentsPage.tsx
  packages/showcase/src/pages/CustomersPage.tsx
  packages/showcase/src/pages/DashboardPage.tsx
  packages/showcase/src/pages/NotFoundPage.tsx
  packages/showcase/src/pages/SettingsPage.tsx
  packages/showcase/test-results/.last-run.json
  packages/showcase/tests/e2e/showcase-routes.spec.ts
  packages/ui-kit/src/components/primitives/CodeEditor/CodeEditor.test.tsx
  packages/ui-kit/src/components/primitives/ThemeToggle/__tests__/ThemeToggle.test.tsx
Owners: @docs-team, @ui-kit-maintainers, @testing-team

feat: implement reset password page (Task 5.5)
  docs/project_plan.md
  docs/task-planning/task-5.5-reset-password-page.md
  packages/showcase/database.sqlite
  packages/showcase/src/main.tsx
  packages/showcase/src/pages/LoginPage.tsx
  packages/showcase/src/pages/ResetPasswordPage.tsx
  packages/showcase/src/pages/__tests__/ResetPasswordPage.test.tsx
  packages/showcase/src/types/ui-kit.d.ts
  packages/showcase/test-results/.last-run.json
  packages/showcase/tests/e2e/reset-password.spec.ts
  packages/showcase/tests/vitest.setup.ts
  packages/showcase/vite.config.ts
Owners: @docs-team, @ui-kit-maintainers

docs: update Task 5.5 status to PR
  docs/project_plan.md
Owners: @docs-team

fix: resolve CI test failures and enhance pre-push hooks
  .github/workflows/ci.yml
  .husky/pre-push
  packages/showcase/src/pages/__tests__/ResetPasswordPage.test.tsx
Owners: @devops-team, @ui-kit-maintainers

fix: align React versions in ui-kit package to resolve CI test failures
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

fix: align CI environment with devcontainer (pnpm 10, node 20)
  .github/workflows/a11y-test.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/release.yml
  .github/workflows/tokens-check.yml
  .husky/pre-push
Owners: @devops-team, @ui-kit-maintainers

ci: add debugging information to identify test failures
  .github/workflows/ci.yml
Owners: @devops-team, @ui-kit-maintainers

fix: build packages before running tests in CI
  .github/workflows/ci.yml
Owners: @devops-team, @ui-kit-maintainers

feat: implement reset password page (Task 5.5) (#33)
  .github/workflows/a11y-test.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/release.yml
  .github/workflows/tokens-check.yml
  .husky/pre-push
  docs/project_plan.md
  docs/task-planning/task-5.5-reset-password-page.md
  packages/showcase/database.sqlite
  packages/showcase/src/main.tsx
  packages/showcase/src/pages/LoginPage.tsx
  packages/showcase/src/pages/ResetPasswordPage.tsx
  packages/showcase/src/pages/__tests__/ResetPasswordPage.test.tsx
  packages/showcase/src/types/ui-kit.d.ts
  packages/showcase/test-results/.last-run.json
  packages/showcase/tests/e2e/reset-password.spec.ts
  packages/showcase/tests/vitest.setup.ts
  packages/showcase/vite.config.ts
  packages/ui-kit/package.json
Owners: @devops-team, @ui-kit-maintainers, @docs-team

fix: resolve NumberInput accessibility violations
  docs/project_plan.md
  packages/ui-kit/src/components/primitives/NumberInput/NumberInput.stories.tsx
  packages/ui-kit/src/components/primitives/NumberInput/NumberInput.tsx
Owners: @docs-team, @storybook-team, @component-team, @ui-kit-maintainers

docs: add comprehensive AI agent documentation
  docs/AI_AGENT_GUIDE.md
  docs/AI_AGENT_QUICK_START.md
  docs/AI_USAGE_RECOMMENDATIONS.md
  docs/project_plan.md
  packages/ui-kit/README.md
Owners: @docs-team, @ui-kit-maintainers

chore: cleanup redundant and temporary files
  .gitignore
  eslint-plugin-ui-kit-rules/test-examples.js
  src/components/primitives/ThemeToggle/ThemeToggle.tsx
  src/hooks/useTheme.ts
  src/lib/utils.ts
  src/store/sessionStore.ts
  test-lint.js
Owners: @ui-kit-maintainers

docs: add release v0.2.0 planning document
  docs/task-planning/release-v0.2.0-planning.md
Owners: @docs-team

chore: prepare v0.2.0-beta release with updated package version and build artifacts
  .changeset/add-combobox-component.md
  .changeset/add-datepicker-component.md
  .changeset/add-daterangepicker-component.md
  .changeset/add-sliderinput-component.md
  .changeset/add-spinnerinput-component.md
  .changeset/add-textarea-component.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

docs: document v0.2.0-beta release completion in project plan
  docs/project_plan.md
Owners: @docs-team

docs: mark release v0.2.0-beta as successfully completed
  docs/task-planning/release-v0.2.0-planning.md
Owners: @docs-team

fix: resolve package installation issues for consumers (fixes #36)
  .changeset/config.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  docs/task-planning/fix-package-installation-issue-36.md
  package.json
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers, @devops-team, @docs-team

fix: update pnpm-lock.yaml after dependency reorganization
  pnpm-lock.yaml
Owners: @ui-kit-maintainers

fix: resolve package installation issues for consumers (fixes #36) (#37)
  .changeset/config.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  docs/task-planning/fix-package-installation-issue-36.md
  package.json
  packages/ui-kit/package.json
  pnpm-lock.yaml
Owners: @ui-kit-maintainers, @devops-team, @docs-team

docs: mark package installation fix task complete
  docs/project_plan.md
  docs/task-planning/fix-package-installation-issue-36.md
Owners: @docs-team

feat: switch CI to publish only to npm registry instead of GitHub Packages
  .github/workflows/release.yml
Owners: @devops-team, @ui-kit-maintainers

fix: ensure Select component is properly exported with TypeScript declarations
  .changeset/fix-select-component-export.md
  docs/AI-SETUP.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
  packages/ui-kit/tsconfig.json
Owners: @ui-kit-maintainers, @docs-team, @build-team

fix: ensure Select component is properly exported with TypeScript declarations (#40)
  .changeset/fix-select-component-export.md
  docs/AI-SETUP.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
  packages/ui-kit/tsconfig.json
Owners: @ui-kit-maintainers, @docs-team, @build-team

chore: release v0.2.1 with Select component export fix
  .changeset/fix-select-component-export.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

feat: use tsup for TypeScript library building
  packages/ui-kit/README.md
  packages/ui-kit/package.json
  packages/ui-kit/tsup.config.ts
  packages/ui-kit/vite.config.ts
Owners: @ui-kit-maintainers, @build-team

fix: resolve crypto import issue for browser compatibility
  packages/ui-kit/tsup.config.ts
Owners: @ui-kit-maintainers

chore: update lockfile for tsup dependency
  package.json
  pnpm-lock.yaml
Owners: @ui-kit-maintainers

fix: update size-limit config for tsup file structure
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

feat: fix TypeScript declarations generation with tsup (#42)
  package.json
  packages/ui-kit/README.md
  packages/ui-kit/package.json
  packages/ui-kit/tsup.config.ts
  packages/ui-kit/vite.config.ts
  pnpm-lock.yaml
Owners: @ui-kit-maintainers, @build-team

chore: release v0.3.0 with TypeScript declarations fix
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

feat: implement Card and Badge shadcn components
  packages/ui-kit/src/components/index.ts
  packages/ui-kit/src/components/ui/Badge/Badge.stories.tsx
  packages/ui-kit/src/components/ui/Badge/Badge.test.tsx
  packages/ui-kit/src/components/ui/Badge/Badge.tsx
  packages/ui-kit/src/components/ui/Card/Card.stories.tsx
  packages/ui-kit/src/components/ui/Card/Card.test.tsx
  packages/ui-kit/src/components/ui/Card/Card.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: implement Separator and Breadcrumb shadcn components
  packages/ui-kit/src/components/ui/Breadcrumb/Breadcrumb.stories.tsx
  packages/ui-kit/src/components/ui/Breadcrumb/Breadcrumb.test.tsx
  packages/ui-kit/src/components/ui/Breadcrumb/Breadcrumb.tsx
  packages/ui-kit/src/components/ui/Separator/Separator.stories.tsx
  packages/ui-kit/src/components/ui/Separator/Separator.test.tsx
  packages/ui-kit/src/components/ui/Separator/Separator.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @storybook-team, @component-team, @testing-team, @ui-kit-maintainers

feat: implement Tabs shadcn component - complete Phase 1
  packages/ui-kit/src/components/ui/Tabs/Tabs.stories.tsx
  packages/ui-kit/src/components/ui/Tabs/Tabs.test.tsx
  packages/ui-kit/src/components/ui/Tabs/Tabs.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @storybook-team, @component-team, @testing-team, @ui-kit-maintainers

feat: implement Alert and AlertDialog shadcn components
  packages/ui-kit/src/components/ui/Alert/Alert.stories.tsx
  packages/ui-kit/src/components/ui/Alert/Alert.test.tsx
  packages/ui-kit/src/components/ui/Alert/Alert.tsx
  packages/ui-kit/src/components/ui/AlertDialog/AlertDialog.stories.tsx
  packages/ui-kit/src/components/ui/AlertDialog/AlertDialog.test.tsx
  packages/ui-kit/src/components/ui/AlertDialog/AlertDialog.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @storybook-team, @component-team, @testing-team, @ui-kit-maintainers

feat: implement Progress component - Radix UI primitive with accessibility, 10 stories, 13 tests
  docs/QUICK-REFERENCE.md
  docs/select-component-guide.md
  docs/task-planning/implement-shadcn-components.md
  package.json
  packages/ui-kit/src/components/ui/Progress/Progress.stories.tsx
  packages/ui-kit/src/components/ui/Progress/Progress.test.tsx
  packages/ui-kit/src/components/ui/Progress/Progress.tsx
  packages/ui-kit/src/components/ui/index.ts
  pnpm-lock.yaml
Owners: @docs-team, @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: implement Skeleton component - CSS-based loading placeholders with 10 stories, 11 tests
  docs/task-planning/implement-shadcn-components.md
  packages/ui-kit/src/components/ui/Skeleton/Skeleton.stories.tsx
  packages/ui-kit/src/components/ui/Skeleton/Skeleton.test.tsx
  packages/ui-kit/src/components/ui/Skeleton/Skeleton.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @docs-team, @storybook-team, @component-team, @testing-team, @ui-kit-maintainers

feat: implement Tooltip component - Radix UI primitive with positioning, 8 stories, 10 tests
  docs/task-planning/implement-shadcn-components.md
  package.json
  packages/ui-kit/src/components/ui/Tooltip/Tooltip.stories.tsx
  packages/ui-kit/src/components/ui/Tooltip/Tooltip.test.tsx
  packages/ui-kit/src/components/ui/Tooltip/Tooltip.tsx
  packages/ui-kit/src/components/ui/index.ts
  pnpm-lock.yaml
Owners: @docs-team, @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

.github/CODEOWNERS:

# CODEOWNERS
# 
# This file defines code ownership for the UI Kit repository.
# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.
# 
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners
# These users are the default owners for everything in the repo unless a later match takes precedence.
* @ui-kit-maintainers

# Root Configuration Files
# Critical configuration files that affect the entire project
/.github/ @ui-kit-maintainers @devops-team
/package.json @ui-kit-maintainers
/pnpm-lock.yaml @ui-kit-maintainers
/pnpm-workspace.yaml @ui-kit-maintainers
/tsconfig*.json @ui-kit-maintainers
/vite.config.ts @ui-kit-maintainers
/.eslintrc.cjs @ui-kit-maintainers
/.prettierrc @ui-kit-maintainers
/tailwind.config.js @ui-kit-maintainers

# DevContainer and Docker
/.devcontainer/ @devops-team
/Dockerfile* @devops-team
/docker-compose*.yml @devops-team

# CI/CD and Automation
/.github/workflows/ @devops-team @ui-kit-maintainers
/.github/actions/ @devops-team
/.changeset/ @ui-kit-maintainers
/scripts/ @devops-team @ui-kit-maintainers

# Documentation
/README.md @docs-team @ui-kit-maintainers
/CONTRIBUTING.md @docs-team @ui-kit-maintainers
/CHANGELOG.md @docs-team @ui-kit-maintainers
/docs/ @docs-team
/.github/pull_request_template.md @docs-team @ui-kit-maintainers
/.github/CODEOWNERS @ui-kit-maintainers

# UI Kit Package
/packages/ui-kit/ @ui-kit-maintainers

# Core Components
/packages/ui-kit/src/components/primitives/ @component-team @ui-kit-maintainers
/packages/ui-kit/src/components/layout/ @layout-team @ui-kit-maintainers
/packages/ui-kit/src/components/form/ @form-team @ui-kit-maintainers

# Providers and Context
/packages/ui-kit/src/providers/ @architecture-team @ui-kit-maintainers

# Utilities and Hooks
/packages/ui-kit/src/utils/ @utils-team @ui-kit-maintainers
/packages/ui-kit/src/hooks/ @hooks-team @ui-kit-maintainers

# Styling and Theming
/packages/ui-kit/src/styles/ @design-system-team @ui-kit-maintainers
/packages/ui-kit/src/theme/ @design-system-team @ui-kit-maintainers
/packages/ui-kit/src/tokens/ @design-system-team @ui-kit-maintainers

# Testing Infrastructure
/packages/ui-kit/src/**/*.test.* @testing-team @ui-kit-maintainers
/packages/ui-kit/src/**/*.spec.* @testing-team @ui-kit-maintainers
/packages/ui-kit/cypress/ @testing-team @ui-kit-maintainers
/packages/ui-kit/playwright/ @testing-team @ui-kit-maintainers
/packages/ui-kit/vitest.config.ts @testing-team @ui-kit-maintainers
/packages/ui-kit/cypress.config.ts @testing-team @ui-kit-maintainers
/packages/ui-kit/playwright.config.ts @testing-team @ui-kit-maintainers

# Storybook
/packages/ui-kit/.storybook/ @storybook-team @ui-kit-maintainers
/packages/ui-kit/src/**/*.stories.* @storybook-team @component-team

# Build and Bundle Configuration
/packages/ui-kit/vite.config.ts @build-team @ui-kit-maintainers
/packages/ui-kit/tsconfig*.json @build-team @ui-kit-maintainers
/packages/ui-kit/package.json @ui-kit-maintainers

# Security and Dependencies
/packages/ui-kit/pnpm-lock.yaml @security-team @ui-kit-maintainers
/.nvmrc @devops-team
/.node-version @devops-team

# Specific Component Ownership Examples
# Uncomment and modify these as teams are assigned to specific components

# /packages/ui-kit/src/components/primitives/Button/ @button-specialist
# /packages/ui-kit/src/components/primitives/Input/ @form-specialist
# /packages/ui-kit/src/components/layout/Grid/ @layout-specialist
# /packages/ui-kit/src/components/form/DataTable/ @datatable-specialist

# Performance and Bundle Size
/packages/ui-kit/size-limit.config.js @performance-team @ui-kit-maintainers

# Error Handling and Monitoring
/packages/ui-kit/src/providers/ErrorBoundary/ @monitoring-team @ui-kit-maintainers
/packages/ui-kit/src/utils/logger/ @monitoring-team @ui-kit-maintainers

# Accessibility
/packages/ui-kit/src/**/*a11y* @accessibility-team @ui-kit-maintainers
/packages/ui-kit/src/**/*accessibility* @accessibility-team @ui-kit-maintainers

# Team Definitions (GitHub teams that should be created)
# 
# @ui-kit-maintainers - Core maintainers with full repository access
# @devops-team - DevOps and infrastructure specialists
# @docs-team - Documentation specialists
# @component-team - UI component specialists
# @layout-team - Layout and responsive design specialists
# @form-team - Form component specialists
# @architecture-team - System architecture specialists
# @utils-team - Utility function specialists
# @hooks-team - React hooks specialists
# @design-system-team - Design system and theming specialists
# @testing-team - Testing infrastructure specialists
# @storybook-team - Storybook and documentation specialists
# @build-team - Build and bundling specialists
# @security-team - Security and dependency management specialists
# @performance-team - Performance and optimization specialists
# @monitoring-team - Error handling and monitoring specialists
# @accessibility-team - Accessibility specialists
