Repository etherisc/ui-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ui-kit-maintainers, @devops-team, @docs-team, @component-team, @layout-team, @form-team, @architecture-team, @utils-team, @hooks-team, @design-system-team, @testing-team, @storybook-team, @build-team, @security-team, @performance-team, @monitoring-team, @accessibility-team

.github/CODEOWNERS:

# CODEOWNERS
# 
# This file defines code ownership for the UI Kit repository.
# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.
# 
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners
# These users are the default owners for everything in the repo unless a later match takes precedence.
* @ui-kit-maintainers

# Root Configuration Files
# Critical configuration files that affect the entire project
/.github/ @ui-kit-maintainers @devops-team
/package.json @ui-kit-maintainers
/pnpm-lock.yaml @ui-kit-maintainers
/pnpm-workspace.yaml @ui-kit-maintainers
/tsconfig*.json @ui-kit-maintainers
/vite.config.ts @ui-kit-maintainers
/.eslintrc.cjs @ui-kit-maintainers
/.prettierrc @ui-kit-maintainers
/tailwind.config.js @ui-kit-maintainers

# DevContainer and Docker
/.devcontainer/ @devops-team
/Dockerfile* @devops-team
/docker-compose*.yml @devops-team

# CI/CD and Automation
/.github/workflows/ @devops-team @ui-kit-maintainers
/.github/actions/ @devops-team
/.changeset/ @ui-kit-maintainers
/scripts/ @devops-team @ui-kit-maintainers

# Documentation
/README.md @docs-team @ui-kit-maintainers
/CONTRIBUTING.md @docs-team @ui-kit-maintainers
/CHANGELOG.md @docs-team @ui-kit-maintainers
/docs/ @docs-team
/.github/pull_request_template.md @docs-team @ui-kit-maintainers
/.github/CODEOWNERS @ui-kit-maintainers

# UI Kit Package
/packages/ui-kit/ @ui-kit-maintainers

# Core Components
/packages/ui-kit/src/components/primitives/ @component-team @ui-kit-maintainers
/packages/ui-kit/src/components/layout/ @layout-team @ui-kit-maintainers
/packages/ui-kit/src/components/form/ @form-team @ui-kit-maintainers

# Providers and Context
/packages/ui-kit/src/providers/ @architecture-team @ui-kit-maintainers

# Utilities and Hooks
/packages/ui-kit/src/utils/ @utils-team @ui-kit-maintainers
/packages/ui-kit/src/hooks/ @hooks-team @ui-kit-maintainers

# Styling and Theming
/packages/ui-kit/src/styles/ @design-system-team @ui-kit-maintainers
/packages/ui-kit/src/theme/ @design-system-team @ui-kit-maintainers
/packages/ui-kit/src/tokens/ @design-system-team @ui-kit-maintainers

# Testing Infrastructure
/packages/ui-kit/src/**/*.test.* @testing-team @ui-kit-maintainers
/packages/ui-kit/src/**/*.spec.* @testing-team @ui-kit-maintainers
/packages/ui-kit/cypress/ @testing-team @ui-kit-maintainers
/packages/ui-kit/playwright/ @testing-team @ui-kit-maintainers
/packages/ui-kit/vitest.config.ts @testing-team @ui-kit-maintainers
/packages/ui-kit/cypress.config.ts @testing-team @ui-kit-maintainers
/packages/ui-kit/playwright.config.ts @testing-team @ui-kit-maintainers

# Storybook
/packages/ui-kit/.storybook/ @storybook-team @ui-kit-maintainers
/packages/ui-kit/src/**/*.stories.* @storybook-team @component-team

# Build and Bundle Configuration
/packages/ui-kit/vite.config.ts @build-team @ui-kit-maintainers
/packages/ui-kit/tsconfig*.json @build-team @ui-kit-maintainers
/packages/ui-kit/package.json @ui-kit-maintainers

# Security and Dependencies
/packages/ui-kit/pnpm-lock.yaml @security-team @ui-kit-maintainers
/.nvmrc @devops-team
/.node-version @devops-team

# Specific Component Ownership Examples
# Uncomment and modify these as teams are assigned to specific components

# /packages/ui-kit/src/components/primitives/Button/ @button-specialist
# /packages/ui-kit/src/components/primitives/Input/ @form-specialist
# /packages/ui-kit/src/components/layout/Grid/ @layout-specialist
# /packages/ui-kit/src/components/form/DataTable/ @datatable-specialist

# Performance and Bundle Size
/packages/ui-kit/size-limit.config.js @performance-team @ui-kit-maintainers

# Error Handling and Monitoring
/packages/ui-kit/src/providers/ErrorBoundary/ @monitoring-team @ui-kit-maintainers
/packages/ui-kit/src/utils/logger/ @monitoring-team @ui-kit-maintainers

# Accessibility
/packages/ui-kit/src/**/*a11y* @accessibility-team @ui-kit-maintainers
/packages/ui-kit/src/**/*accessibility* @accessibility-team @ui-kit-maintainers

# Team Definitions (GitHub teams that should be created)
# 
# @ui-kit-maintainers - Core maintainers with full repository access
# @devops-team - DevOps and infrastructure specialists
# @docs-team - Documentation specialists
# @component-team - UI component specialists
# @layout-team - Layout and responsive design specialists
# @form-team - Form component specialists
# @architecture-team - System architecture specialists
# @utils-team - Utility function specialists
# @hooks-team - React hooks specialists
# @design-system-team - Design system and theming specialists
# @testing-team - Testing infrastructure specialists
# @storybook-team - Storybook and documentation specialists
# @build-team - Build and bundling specialists
# @security-team - Security and dependency management specialists
# @performance-team - Performance and optimization specialists
# @monitoring-team - Error handling and monitoring specialists
# @accessibility-team - Accessibility specialists

ci: add job summary step to compliance workflow
  .github/workflows/compliance-nightly.yml
Owners: @devops-team, @ui-kit-maintainers

ci: add compliance badge and improved report artifacts
  .github/workflows/compliance-nightly.yml
  README.md
Owners: @devops-team, @ui-kit-maintainers, @docs-team

ci: regenerate compliance report with linked files
  .compliance/report.md
  .compliance/summary.md
Owners: @ui-kit-maintainers

style: improve status badge and dark mode colors
  packages/ui-kit/src/styles/globals.css
Owners: @design-system-team, @ui-kit-maintainers

docs: update TOKENS.md with current values and Tailwind v4 mappings
  packages/ui-kit/src/theme/TOKENS.md
Owners: @design-system-team, @ui-kit-maintainers

chore: bump @etherisc/ui-kit to v0.8.0
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

fix: skip vite-plugin-dts during Storybook builds
  packages/ui-kit/vite.config.ts
Owners: @build-team, @ui-kit-maintainers

ci: switch npm publishing to GitHub Packages
  .github/workflows/release.yml
  packages/ui-kit/package.json
Owners: @devops-team, @ui-kit-maintainers

ci: add packages:write permission for GitHub Packages publishing
  .github/workflows/release.yml
Owners: @devops-team, @ui-kit-maintainers

ci: allow release step to continue if GitHub release already exists
  .github/workflows/release.yml
Owners: @devops-team, @ui-kit-maintainers

chore(compliance): add GOV domain to run governance checks in nightly
  .compliance/config.yaml
Owners: @ui-kit-maintainers

chore: add component_id and allowlist override to compliance config
  .compliance/config.yaml
Owners: @ui-kit-maintainers

fix: align gitignore/editorconfig with GOV templates, update compliance config
  .compliance/config.yaml
  .editorconfig
  .gitignore
Owners: @ui-kit-maintainers

chore: enable --create-issues in compliance nightly workflow
  .github/workflows/compliance-nightly.yml
Owners: @devops-team, @ui-kit-maintainers

chore: align repo with standards system (dotfiles, docs, CODEOWNERS, archetype)
  .compliance/config.yaml
  .npmrc
  .nvmrc
  CODEOWNERS
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/ROADMAP.md
Owners: @ui-kit-maintainers, @devops-team, @docs-team

chore: add compliance section to AGENTS.md, add environment.json
  .cursor/environment.json
  AGENTS.md
Owners: @ui-kit-maintainers

fix: configure GitHub Packages auth for cloud agents
  .cursor/environment.json
Owners: @ui-kit-maintainers

chore: update .nvmrc from Node 20 to Node 22
  .nvmrc
Owners: @devops-team

feat: add compliance gate with merkle fingerprinting to nightly workflows
  .compliance/state-manifest.json
  .github/workflows/compliance-nightly.yml
Owners: @ui-kit-maintainers, @devops-team

fix: add exclusions for inapplicable governance structure rules
  .compliance/config.yaml
  README.md
Owners: @ui-kit-maintainers, @docs-team

chore: update compliance state manifest [skip ci]
  .compliance/state-manifest.json
Owners: @ui-kit-maintainers
