Repository etherisc/ui-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ui-kit-maintainers, @devops-team, @docs-team, @component-team, @layout-team, @form-team, @architecture-team, @utils-team, @hooks-team, @design-system-team, @testing-team, @storybook-team, @build-team, @security-team, @performance-team, @monitoring-team, @accessibility-team

feat: implement Switch component with Radix UI primitive
  package.json
  packages/ui-kit/src/components/ui/Switch/Switch.stories.tsx
  packages/ui-kit/src/components/ui/Switch/Switch.test.tsx
  packages/ui-kit/src/components/ui/Switch/Switch.tsx
  packages/ui-kit/src/components/ui/index.ts
  pnpm-lock.yaml
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: implement Toggle component with Radix UI primitive
  package.json
  packages/ui-kit/src/components/ui/Toggle/Toggle.stories.tsx
  packages/ui-kit/src/components/ui/Toggle/Toggle.test.tsx
  packages/ui-kit/src/components/ui/Toggle/Toggle.tsx
  packages/ui-kit/src/components/ui/index.ts
  pnpm-lock.yaml
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: implement ToggleGroup component with single/multiple selection modes
  packages/ui-kit/src/components/ui/ToggleGroup/ToggleGroup.stories.tsx
  packages/ui-kit/src/components/ui/ToggleGroup/ToggleGroup.test.tsx
  packages/ui-kit/src/components/ui/ToggleGroup/ToggleGroup.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @storybook-team, @component-team, @testing-team, @ui-kit-maintainers

feat: implement InputOTP component with compound pattern and validation support
  packages/ui-kit/package.json
  packages/ui-kit/src/components/ui/InputOTP/InputOTP.stories.tsx
  packages/ui-kit/src/components/ui/InputOTP/InputOTP.test.tsx
  packages/ui-kit/src/components/ui/InputOTP/InputOTP.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: implement Accordion component with collapsible behavior and animations
  packages/ui-kit/package.json
  packages/ui-kit/src/components/ui/Accordion/Accordion.stories.tsx
  packages/ui-kit/src/components/ui/Accordion/Accordion.test.tsx
  packages/ui-kit/src/components/ui/Accordion/Accordion.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: implement Collapsible component with trigger/content structure
  packages/ui-kit/package.json
  packages/ui-kit/src/components/ui/Collapsible/Collapsible.stories.tsx
  packages/ui-kit/src/components/ui/Collapsible/Collapsible.test.tsx
  packages/ui-kit/src/components/ui/Collapsible/Collapsible.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: implement AspectRatio component with responsive design support
  packages/ui-kit/package.json
  packages/ui-kit/src/components/ui/AspectRatio/AspectRatio.stories.tsx
  packages/ui-kit/src/components/ui/AspectRatio/AspectRatio.test.tsx
  packages/ui-kit/src/components/ui/AspectRatio/AspectRatio.tsx
  packages/ui-kit/src/components/ui/index.ts
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

feat: finalize component stories and accessibility improvements
  .husky/pre-push
  docs/accessibility-backlog.md
  packages/ui-kit/.storybook/test-runner.ts
  packages/ui-kit/scripts/run-storybook-test.js
  packages/ui-kit/src/components/ui/Collapsible/Collapsible.stories.tsx
  packages/ui-kit/src/components/ui/InputOTP/InputOTP.stories.tsx
  packages/ui-kit/src/components/ui/NavigationMenu/NavigationMenu.stories.tsx
  packages/ui-kit/src/components/ui/Progress/Progress.stories.tsx
  packages/ui-kit/src/components/ui/Table/Table.stories.tsx
  packages/ui-kit/src/components/ui/Typography/Typography.stories.tsx
  packages/ui-kit/src/styles/globals.css
Owners: @ui-kit-maintainers, @docs-team, @storybook-team, @component-team, @design-system-team

feat: update bundle size limits to 1MB/1.5MB gzipped
  README.md
  docs/task-planning/sprint-4-polish-security-release.md
  packages/ui-kit/package.json
Owners: @docs-team, @ui-kit-maintainers

fix: restore NavigationMenu stories file to resolve Storybook configuration error
  packages/ui-kit/src/components/ui/NavigationMenu/NavigationMenu.stories.tsx
Owners: @storybook-team, @component-team

feat: temporarily disable a11y tests and create backlog
  .github/workflows/a11y-test.yml
  .husky/pre-push
  docs/task-planning/accessibility-testing-backlog.md
Owners: @devops-team, @ui-kit-maintainers, @docs-team

feat: add commit message length check to pre-commit hook
  .husky/pre-commit
Owners: @ui-kit-maintainers

feat: revert pre-commit hook and remove commit message length limit - this is a very long commit message to test that the length limit has been properly removed from commitlint configuration
  .husky/pre-commit
  commitlint.config.cjs
Owners: @ui-kit-maintainers

chore: release v0.4.0
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

fix: resolve critical TypeScript declaration issues - externalize dependencies, improve module resolution, reduce bundle sizes significantly - resolves #44
  packages/ui-kit/package.json
  packages/ui-kit/tsconfig.json
  packages/ui-kit/tsup.config.ts
Owners: @ui-kit-maintainers, @build-team

chore: release v0.4.1 - TypeScript declarations & API standardization
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

fix: add missing dependencies for runtime imports - resolves critical issue #44
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
  pnpm-lock.yaml
Owners: @ui-kit-maintainers

feat: Fix Release v0.4.1 - TypeScript Declarations & API Standardization (#45)
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
  packages/ui-kit/src/components/primitives/Button/Button.stories.tsx
  packages/ui-kit/src/components/primitives/Button/Button.test.tsx
  packages/ui-kit/src/components/primitives/Button/Button.tsx
  packages/ui-kit/src/components/primitives/Button/types.ts
  packages/ui-kit/tsconfig.json
  packages/ui-kit/tsup.config.ts
  pnpm-lock.yaml
Owners: @ui-kit-maintainers, @storybook-team, @component-team, @testing-team, @build-team

chore: release v0.4.3 - sync develop branch with release version
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

fix: resolve TypeScript module resolution issue for pnpm projects (issue #46)
  .changeset/fix-typescript-module-resolution-pnpm.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

chore: release v0.4.4 - TypeScript module resolution fix for pnpm projects
  .changeset/fix-typescript-module-resolution-pnpm.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

fix: TypeScript module resolution issue for pnpm projects (issue #46) (#47)
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers

fix: include Tailwind CSS utilities in distribution build
  .devcontainer/devcontainer.json
  packages/showcase/index.html
  packages/showcase/src/index.css
  packages/showcase/vite.config.ts
  packages/ui-kit/README.md
  packages/ui-kit/src/index.ts
Owners: @devops-team, @ui-kit-maintainers

fix: include Tailwind CSS utilities in distribution build (#49)
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/scripts/gh-auth.sh
  .devcontainer/scripts/post-create.sh
  docs/project_plan.md
  packages/showcase/index.html
  packages/showcase/src/index.css
  packages/showcase/vite.config.ts
  packages/ui-kit/README.md
  packages/ui-kit/src/index.ts
Owners: @devops-team, @docs-team, @ui-kit-maintainers

chore: add changeset for CSS distribution fix
  .changeset/fix-css-distribution.md
Owners: @ui-kit-maintainers

chore: release @etherisc/ui-kit@0.4.5
  .changeset/fix-css-distribution.md
  .devcontainer/gh-auth-setup.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/showcase/src/main-minimal.tsx
  packages/showcase/test-issue-48-fix.html
  packages/showcase/test-ui-kit-css.html
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @ui-kit-maintainers, @devops-team

fix: resolve issues #50-53 (toast provider, API consistency, theming, showcase improvements)
  docs/task-planning/issues-50-53-fixes.md
  packages/showcase/src/pages/ComponentsPage.tsx
  packages/ui-kit/src/components/feedback/Toast/Toast.tsx
  packages/ui-kit/src/hooks/useToast.test.tsx
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/providers/ToastProvider/ToastProvider.tsx
  packages/ui-kit/src/styles/globals.css
  packages/ui-kit/tailwind.config.js
Owners: @docs-team, @ui-kit-maintainers, @testing-team, @architecture-team, @design-system-team

fix: resolve critical toast system issues and improve theming consistency (v0.4.6)
  docs/task-planning/issues-50-53-fixes.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
  packages/ui-kit/src/components/feedback/Toast/Toast.test.tsx
  packages/ui-kit/src/providers/ToastProvider/ToastProvider.test.tsx
Owners: @docs-team, @ui-kit-maintainers, @testing-team

Fix critical toast system issues and improve theming consistency (#50-53) (#54)
  docs/task-planning/issues-50-53-fixes.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/showcase/src/pages/ComponentsPage.tsx
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
  packages/ui-kit/src/components/feedback/Toast/Toast.test.tsx
  packages/ui-kit/src/components/feedback/Toast/Toast.tsx
  packages/ui-kit/src/hooks/useToast.test.tsx
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/providers/ToastProvider/ToastProvider.test.tsx
  packages/ui-kit/src/providers/ToastProvider/ToastProvider.tsx
  packages/ui-kit/src/styles/globals.css
  packages/ui-kit/tailwind.config.js
Owners: @docs-team, @ui-kit-maintainers, @testing-team, @architecture-team, @design-system-team

feat: complete dogfooding in ErrorShell and MinimalShell components - replace plain HTML with Card components for consistent UI patterns and semantic structure
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.tsx
  packages/ui-kit/src/layout/MinimalShell/MinimalShell.tsx
Owners: @ui-kit-maintainers

feat: complete issue #55 implementation - all 9 tasks finished including tests, storybook, and manual testing with comprehensive dogfooding improvements
  docs/task-planning/issue-55-appshell-breadcrumb-fix.md
  packages/showcase/src/pages/EnhancedAppShellTestPage.tsx
  packages/ui-kit/src/layout/AppShell/AppShell.stories.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/AppShell.test.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/SideNav.test.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/TopBar.test.tsx
Owners: @docs-team, @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

fix: resolve useCallback dependency warning in AppShellSidebar
  packages/ui-kit/src/layout/AppShell/AppShellSidebar.tsx
Owners: @ui-kit-maintainers

fix: resolve infinite loop causing tests to hang in AppShellSidebar
  packages/ui-kit/src/layout/AppShell/AppShellSidebar.tsx
Owners: @ui-kit-maintainers

fix: resolve all failing tests - infinite loop, import paths, and test expectations
  packages/ui-kit/src/components/ui/DropdownMenu/DropdownMenu.tsx
  packages/ui-kit/src/components/ui/button.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/AppShellSidebar.test.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/AppShellTopBar.test.tsx
Owners: @ui-kit-maintainers, @testing-team

feat: Replace AppShell custom components with UI-Kit components (#55) (#58)
  docs/project_plan.md
  docs/task-planning/appshell-analysis.md
  docs/task-planning/final-solution-architecture.md
  docs/task-planning/issue-55-appshell-breadcrumb-fix.md
  packages/showcase/src/main.tsx
  packages/showcase/src/pages/DashboardPage.tsx
  packages/showcase/src/pages/EnhancedAppShellTestPage.tsx
  packages/ui-kit/src/components/ui/DropdownMenu/DropdownMenu.tsx
  packages/ui-kit/src/components/ui/Table/Table.stories.tsx
  packages/ui-kit/src/components/ui/button.tsx
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/layout/AppShell/AppShell.stories.tsx
  packages/ui-kit/src/layout/AppShell/AppShell.tsx
  packages/ui-kit/src/layout/AppShell/AppShellBreadcrumbs.stories.tsx
  packages/ui-kit/src/layout/AppShell/AppShellBreadcrumbs.tsx
  packages/ui-kit/src/layout/AppShell/AppShellSidebar.stories.tsx
  packages/ui-kit/src/layout/AppShell/AppShellSidebar.tsx
  packages/ui-kit/src/layout/AppShell/AppShellTopBar.stories.tsx
  packages/ui-kit/src/layout/AppShell/AppShellTopBar.tsx
  packages/ui-kit/src/layout/AppShell/ContentWrapper.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/AppShell.test.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/AppShellBreadcrumbs.test.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/AppShellSidebar.test.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/AppShellTopBar.test.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/SideNav.test.tsx
  packages/ui-kit/src/layout/AppShell/__tests__/TopBar.test.tsx
  packages/ui-kit/src/layout/AppShell/index.ts
  packages/ui-kit/src/layout/AuthShell/AuthShell.tsx
  packages/ui-kit/src/layout/ErrorShell/ErrorShell.tsx
  packages/ui-kit/src/layout/MinimalShell/MinimalShell.tsx
Owners: @docs-team, @ui-kit-maintainers, @storybook-team, @component-team, @testing-team

docs: mark issue #55 as complete in project plan - AppShell refactor merged via PR #58
  docs/project_plan.md
Owners: @docs-team

feat: implement comprehensive pagination architecture for DataTable component
  docs/task-planning/task-57-comprehensive-pagination-architecture.md
  packages/ui-kit/src/components/data-display/DataTable/DataTable.tsx
  packages/ui-kit/src/components/data-display/DataTable/DataTablePagination.tsx
  packages/ui-kit/src/components/data-display/DataTable/MIGRATION.md
  packages/ui-kit/src/components/data-display/DataTable/__tests__/DataTable.test.tsx
  packages/ui-kit/src/components/data-display/DataTable/index.ts
  packages/ui-kit/src/components/data-display/DataTable/stories/DataTable.stories.tsx
Owners: @docs-team, @ui-kit-maintainers, @testing-team, @storybook-team, @component-team

feat: implement comprehensive pagination architecture for DataTable component (#59)
  docs/project_plan.md
  docs/task-planning/task-57-comprehensive-pagination-architecture.md
  packages/ui-kit/src/components/data-display/DataTable/DataTable.tsx
  packages/ui-kit/src/components/data-display/DataTable/DataTablePagination.tsx
  packages/ui-kit/src/components/data-display/DataTable/MIGRATION.md
  packages/ui-kit/src/components/data-display/DataTable/__tests__/DataTable.test.tsx
  packages/ui-kit/src/components/data-display/DataTable/index.ts
  packages/ui-kit/src/components/data-display/DataTable/stories/DataTable.stories.tsx
Owners: @docs-team, @ui-kit-maintainers, @testing-team, @storybook-team, @component-team

chore: release v0.6.0 - comprehensive pagination architecture
  docs/project_plan.md
  packages/showcase/CHANGELOG.md
  packages/showcase/package.json
  packages/ui-kit/CHANGELOG.md
  packages/ui-kit/package.json
Owners: @docs-team, @ui-kit-maintainers

fix: resolve DataTable pagination dropdown sync and AppShell border styling issues
  packages/ui-kit/src/components/data-display/DataTable/DataTable.tsx
  packages/ui-kit/src/components/primitives/MarkdownEditor/MarkdownEditor.tsx
  packages/ui-kit/src/layout/AppShell/AppShell.tsx
  packages/ui-kit/src/layout/AppShell/AppShellTopBar.tsx
  packages/ui-kit/src/layout/AppShell/ContentWrapper.tsx
Owners: @ui-kit-maintainers, @component-team

.github/CODEOWNERS:

# CODEOWNERS
# 
# This file defines code ownership for the UI Kit repository.
# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.
# 
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners
# These users are the default owners for everything in the repo unless a later match takes precedence.
* @ui-kit-maintainers

# Root Configuration Files
# Critical configuration files that affect the entire project
/.github/ @ui-kit-maintainers @devops-team
/package.json @ui-kit-maintainers
/pnpm-lock.yaml @ui-kit-maintainers
/pnpm-workspace.yaml @ui-kit-maintainers
/tsconfig*.json @ui-kit-maintainers
/vite.config.ts @ui-kit-maintainers
/.eslintrc.cjs @ui-kit-maintainers
/.prettierrc @ui-kit-maintainers
/tailwind.config.js @ui-kit-maintainers

# DevContainer and Docker
/.devcontainer/ @devops-team
/Dockerfile* @devops-team
/docker-compose*.yml @devops-team

# CI/CD and Automation
/.github/workflows/ @devops-team @ui-kit-maintainers
/.github/actions/ @devops-team
/.changeset/ @ui-kit-maintainers
/scripts/ @devops-team @ui-kit-maintainers

# Documentation
/README.md @docs-team @ui-kit-maintainers
/CONTRIBUTING.md @docs-team @ui-kit-maintainers
/CHANGELOG.md @docs-team @ui-kit-maintainers
/docs/ @docs-team
/.github/pull_request_template.md @docs-team @ui-kit-maintainers
/.github/CODEOWNERS @ui-kit-maintainers

# UI Kit Package
/packages/ui-kit/ @ui-kit-maintainers

# Core Components
/packages/ui-kit/src/components/primitives/ @component-team @ui-kit-maintainers
/packages/ui-kit/src/components/layout/ @layout-team @ui-kit-maintainers
/packages/ui-kit/src/components/form/ @form-team @ui-kit-maintainers

# Providers and Context
/packages/ui-kit/src/providers/ @architecture-team @ui-kit-maintainers

# Utilities and Hooks
/packages/ui-kit/src/utils/ @utils-team @ui-kit-maintainers
/packages/ui-kit/src/hooks/ @hooks-team @ui-kit-maintainers

# Styling and Theming
/packages/ui-kit/src/styles/ @design-system-team @ui-kit-maintainers
/packages/ui-kit/src/theme/ @design-system-team @ui-kit-maintainers
/packages/ui-kit/src/tokens/ @design-system-team @ui-kit-maintainers

# Testing Infrastructure
/packages/ui-kit/src/**/*.test.* @testing-team @ui-kit-maintainers
/packages/ui-kit/src/**/*.spec.* @testing-team @ui-kit-maintainers
/packages/ui-kit/cypress/ @testing-team @ui-kit-maintainers
/packages/ui-kit/playwright/ @testing-team @ui-kit-maintainers
/packages/ui-kit/vitest.config.ts @testing-team @ui-kit-maintainers
/packages/ui-kit/cypress.config.ts @testing-team @ui-kit-maintainers
/packages/ui-kit/playwright.config.ts @testing-team @ui-kit-maintainers

# Storybook
/packages/ui-kit/.storybook/ @storybook-team @ui-kit-maintainers
/packages/ui-kit/src/**/*.stories.* @storybook-team @component-team

# Build and Bundle Configuration
/packages/ui-kit/vite.config.ts @build-team @ui-kit-maintainers
/packages/ui-kit/tsconfig*.json @build-team @ui-kit-maintainers
/packages/ui-kit/package.json @ui-kit-maintainers

# Security and Dependencies
/packages/ui-kit/pnpm-lock.yaml @security-team @ui-kit-maintainers
/.nvmrc @devops-team
/.node-version @devops-team

# Specific Component Ownership Examples
# Uncomment and modify these as teams are assigned to specific components

# /packages/ui-kit/src/components/primitives/Button/ @button-specialist
# /packages/ui-kit/src/components/primitives/Input/ @form-specialist
# /packages/ui-kit/src/components/layout/Grid/ @layout-specialist
# /packages/ui-kit/src/components/form/DataTable/ @datatable-specialist

# Performance and Bundle Size
/packages/ui-kit/size-limit.config.js @performance-team @ui-kit-maintainers

# Error Handling and Monitoring
/packages/ui-kit/src/providers/ErrorBoundary/ @monitoring-team @ui-kit-maintainers
/packages/ui-kit/src/utils/logger/ @monitoring-team @ui-kit-maintainers

# Accessibility
/packages/ui-kit/src/**/*a11y* @accessibility-team @ui-kit-maintainers
/packages/ui-kit/src/**/*accessibility* @accessibility-team @ui-kit-maintainers

# Team Definitions (GitHub teams that should be created)
# 
# @ui-kit-maintainers - Core maintainers with full repository access
# @devops-team - DevOps and infrastructure specialists
# @docs-team - Documentation specialists
# @component-team - UI component specialists
# @layout-team - Layout and responsive design specialists
# @form-team - Form component specialists
# @architecture-team - System architecture specialists
# @utils-team - Utility function specialists
# @hooks-team - React hooks specialists
# @design-system-team - Design system and theming specialists
# @testing-team - Testing infrastructure specialists
# @storybook-team - Storybook and documentation specialists
# @build-team - Build and bundling specialists
# @security-team - Security and dependency management specialists
# @performance-team - Performance and optimization specialists
# @monitoring-team - Error handling and monitoring specialists
# @accessibility-team - Accessibility specialists
